@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 61px);
    width: 700px;
    margin: 0 auto;

    &__title {
        font-size: 32px;
        margin: 0 0 24px;

        span {
            font-family: "Amatic SC", cursive;
        }
    }

    &__description {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        color: #090909;
    }
}
